html, body, #container {
    height: 100%;
}

#rowOne {
    height: 100px;
    background: #F5C9C9;
}

#rowTwo {
    height: -webkit-calc(100% - 100px);
    background: #D5FAE4;
}

#rowThree {
height: -webkit-calc(100% - 200px);
    background: #E5ECFF;
}